{**
* @author Ladislav Vondráček
*}

{block #content}
<div class="row">
  <div class="col-sm-offset-3 col-sm-6">
    <div class="panel panel-default">
      <div class="panel-heading panel-title" n:block="title">
        {_'Registrace'}
      </div>
      <div class="panel-body">
        {control registerForm}
      </div>
      <div class="panel-footer">
        {_'Máte již účet?'} <a n:href="Sign:in">{_'Přihlašte se.'}</a>
      </div>
    </div>
  </div>
</div>
