{**
* @author Ladislav Vondráček
*}

{block #content}
<div class="row">
  <div class="col-sm-offset-3 col-sm-6">
    <div class="panel panel-default">
      <div class="panel-heading" n:block="title">
        {_'Registrace'}
      </div>
      <div class="panel-body">
        {control registerForm}
      </div>
      <div class="panel-footer">
        Pokud již účet máte, <a n:href="Sign:in">přihlašte se</a>.
      </div>
    </div>
  </div>
</div>
