{**
* @author Ladislav Vondráček
*}

{block #content}

<div class="row">
  <div class="col-sm-offset-3 col-sm-6">
    <div class="panel panel-default">
      <div class="panel-heading panel-title" n:block="title">
        {_'Nové heslo'}
      </div>
      <div class="panel-body">
        {control resetForm}
      </div>
    </div>
  </div>
</div>
