#
# SECURITY WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
#
# If you don't protect this directory from direct web access, anybody will be able to see your passwords.
# http://nette.org/security-warning
#
parameters:
  app:
    title: Project name
    description: Description of project
    keywords:
      - project
      - keywords

  assets:
    bootstrap:
      css: %wwwDir%/css/bootstrap.min.css
      js: %wwwDir%/js/bootstrap.min.js
    jquery: %wwwDir%/js/jquery.js
    netteForms: %wwwDir%/js/netteForms.js

  menu:
    frontend:
      -
        link: Home:default
        text: Domů
        icon: home
      -
        link: :Admin:Sign:in
        text: Přihlásit
        icon: lock
        main: false

    admin:
      -
        link: Home:default
        text: Domů
        icon: home
      -
        link: Users:default
        text: Uživatelé
        icon: user
      -
        link: Sign:out
        text: Odhlásit
        icon: "off"
        main: false

  users:
    lawondyss@gmail.com: web


php:
  date.timezone: Europe/Prague


nette:
  application:
    errorPresenter: Error
    mapping:
      *: App\*Module\Presenters\*Presenter

  session:
    expiration: 14 days

  debugger:
    email: lawondyss@gmail.com

  forms:
    messages:
      FILLED: "Vyplňte pole."
      EMAIL: "Zkontrolujte správnost e-mailu."


extensions:
  webloader: WebLoader\Nette\Extension
  leanmapper: LeanMapper\LeanMapperExtension


services:
  - App\Model\Repositories\UserRepository

  translator: Lawondyss\Translator
  authenticator: Nette\Security\SimpleAuthenticator(%users%)
  - App\RouterFactory
  router: @App\RouterFactory::createRouter
  - Lawondyss\MenuFactory
  - Lawondyss\AccountFormsFactory


webloader:
  css:
    screen:
      files:
        - %assets.bootstrap.css%
        - %wwwDir%/css/screen.css

    print:
      files:
        - %assets.bootstrap.css%
        - %wwwDir%/css/print.css

  js:
    default:
      files:
        - %assets.jquery%
        - %assets.netteForms%
        - %assets.bootstrap.js%
        - %wwwDir%/js/main.js


leanmapper:
  database:
    driver: mysqli
    host:
    username:
    password:
    lazy: true
  mapper: LeanMapper\DefaultMapper
  entityFactory: LeanMapper\DefaultEntityFactory