#
# SECURITY WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
#
# If you don't protect this directory from direct web access, anybody will be able to see your passwords.
# http://nette.org/security-warning
#
parameters:
  app:
    title: Project name
    description: Description of project
    keywords:
      - project
      - keywords
    domain: skeleton.dev
    email:
      noreply: noreply@%app.domain%
    tokenExpire: 86400 # 1 day

  assets:
    bootstrap:
      css: %wwwDir%/css/bootstrap.min.css
      js: %wwwDir%/js/bootstrap.min.js
    jquery: %wwwDir%/js/jquery.js
    netteForms: %wwwDir%/js/netteForms.js

  menu:
    front:
      -
        link: :Front:Home:default
        text: Domů
        icon: home
      -
        link: :Front:Sign:in
        text: Přihlásit
        icon: lock
        main: false

    admin:
      -
        link: :Admin:Home:default
        text: Domů
        icon: home
        resource: Admin:Home
      -
        link: :Admin:Users:default
        text: Uživatelé
        icon: user
        resource: Admin:Users
      -
        link: :Admin:Settings:default
        text: Nastavení
        icon: wrench
        main: false
        resource: Admin:Settings
      -
        link: :Front:Sign:out
        text: Odhlásit
        icon: "off"
        main: false

  users:
    lawondyss@gmail.com: web

  database:
    driver: mysql
    host:
    database:
    user:
    password:
    charset: utf8
    lazy: TRUE


php:
  date.timezone: Europe/Prague


nette:
  application:
    errorPresenter: Error
    mapping:
      *: App\*Module\Presenters\*Presenter

  session:
    expiration: 14 days

  debugger:
    email: lawondyss@gmail.com

  forms:
    messages:
      FILLED: "Vyplňte pole."
      EMAIL: "Zkontrolujte správnost e-mailu."

  database:
    dsn: '%database.driver%:host=%database.host%;dbname=%database.database%'
    user: %database.user%
    password: %database.password%


extensions:
  webloader: WebLoader\Nette\Extension


services:
  - App\Model\UserService

  authorizator: Security\Authorizator
  authenticator: Security\Authenticator
  # authenticator: Nette\Security\SimpleAuthenticator(%users%) # only for simple login
  translator: Lawondyss\Translator
  - App\RouterFactory
  router: @App\RouterFactory::createRouter
  - Lawondyss\MenuFactory
  - Lawondyss\AccountFormsFactory
  - Lawondyss\UserFormFactory
  - Nette\Mail\Message
  - Lawondyss\Mails
  - Nette\Utils\Paginator
  - Lawondyss\PaginatorFactory


webloader:
  css:
    screen:
      files:
        - %assets.bootstrap.css%
        - %wwwDir%/css/screen.css

    print:
      files:
        - %assets.bootstrap.css%
        - %wwwDir%/css/print.css

  js:
    default:
      files:
        - %assets.jquery%
        - %assets.netteForms%
        - %assets.bootstrap.js%
        - %wwwDir%/js/main.js
