{block head}
<style type="text/css">
  .signin-heading {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto 10px;
  }
</style>
{/block}


{block content}
<h1 n:block=title class="signin-heading">Přihlásit</h1>

{control signInForm}
