# Navigation
home: 'Hlavní stránka'
login: 'Přihlásit'
logout: 'Odhlásit'

# Forms
fillField: 'Vyplňte pole %label.'
checkEmail: 'Zkontrolujte správnost e-mailu.'
email: 'E-mail'
password: 'Heslo'
remember: 'Pamatovat si mě'
incorrectLogin: Chybné přihlašovací údaje.