{**
* @author Ladislav Vondráček
*}

{block #content}
<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <div class="panel panel-default">
      <div class="panel-heading panel-title">
        {_'Potvrzení účtu'}
      </div>
      <div class="panel-body">
        {control confirmAccountForm}
      </div>
    </div>
  </div>
</div>